/* 2024. 06. 04 */

*{
  box-sizing : border-box;
}

html{
  font-size : 16px;
  height : 100%;
}

body{
  margin : 0 ;
  height:100%;
}

#container{
  height : 100%;
}

#header{
  display: flex;
  justify-content: space-around;
  margin-bottom : 1.5rem;
}

img{
  width : 12rem;
  height: 12rem;
}

#main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex{
  display: flex;
  flex-basis: 30%;
}