/* 2024. 05. 15 */

#container{

  height: 100%;
 justify-content: center;
}

#myToDoList{
  flex-direction: column;

  background-color: rgb(166, 189, 207);
  height: 35rem;
  width : 18rem;

  border-radius: 0.8rem;
  margin-top : 4rem; 
}

#chat{
  height: calc(100% - 6rem);
}

#title{
  text-align: center;
  border-bottom: 0.05rem lightgray solid;

  margin: 0;
  padding : 0.8rem 0 ; 
  font-weight: bold;

  font-family: "Jua", sans-serif;
  font-style: normal;
}

#chat_screen{
  justify-content: right;
  overflow-y: scroll;

  height: calc(100% - 2.85rem);
}

#chat_content{
  padding-right: 1rem;
}

.msg_set{
  justify-content: space-between;
}

.remove{
  border: none;
  border-radius:1rem;
  height: 1.167rem;
  align-self: flex-end;
  margin-right: 0.2rem ;
}

.message{
  background-color: rgb(255, 227, 71);

  width : 10rem;
  height: 2.5rem;;
  margin-bottom: 0;
  padding: 0.3rem 0 0 0.5rem;
  border-radius: 0.7rem;
  font-size: 1rem;

  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}


textarea::placeholder{
  font-family: "Dongle", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.5rem;
}

form{
background-color: white;
}

textarea{
  resize: none;
  border: none;
  outline: none;
  
  height : 6rem;
  width : calc(18rem - 3rem );
  padding : 0.3rem;

  font-family: "Dongle", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.5rem;
}

#add_bt{
  width : 3rem;
  font-family: "Dongle", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.2rem;
  float: right;
  padding : 0;

  border: none;
  border-radius: 0.2rem;
  background-color: rgb(255, 227, 71);
}


.msg_rem{
  background-color: rgb(207, 201, 201);
}


