*{
  text-align:center;
}

/* 전체 선택자 내에 배경색 지정 시, 표현이 좀 다름 > html태그로 지정하자*/
html {
  background-color :rgba(249, 229, 6, 0.151);
  font-size:16px;
}

/* layout 지정 */
body{
width:600px;
/*
  콘텐츠 박스 크기를 조절하기 전에는, 창의 크기에 따라 hr수평선이 늘어났다가 줄어들었다가함
  > 콘텐츠 박스 사이즈 지정 시, 해당 사이즈보다 요소는 커질 수 없음
  > 따라서, 크기 지정 후에는 창의 크기가 변해도 hr 수평선 길이가 바뀌지 않음
*/

/*
  width 지정 후 페이지 크기를 좌우로 조절하면, 앞서 설정한 가운데 정렬이 안된다.
  > 왜냐하면, 블록레벨 요소는 크기를 지정할 경우 남은 박스의 크기를 모두 바깥여백으로 대체한다
*/
margin: auto; /*너비에서 남늠 여백을 동등하게 분배한다 > 가운데 정렬 효과를 준다*/
}

h1{
  font-size:48px; /* h1 기본 사이즈 32px보다 더 크게 폰트 크기를 지정하면, 기존 h1보다 글자가 더 커진다.*/
}

img{
  width:250px;
  height:250px;
  border-radius:125px; /* 지정한 250의 절반 125를 반경으로 지정 시, 원형으로 표현 가능*/
}

p{
  /* p 태그의 기본 크기 : 16px */
  font-size:1.5rem;
  /* html 폰트사이즈의 1.5배를 rem으로 지정*/
}