/*2024.04.04*/

/* 전체 세팅부터 먼저 하기 */

*{
  box-sizing:border-box; /* 하나 하나 사이즈 지정이 귀찮으니까 이렇게 설정*/
}

html{
  height:100%;
  /* %는 상위 태그의 영역을 기준으로 영역의 크기 지정
    ㄴhtml의 상위태그는 없음 > 상위 : 웹브라우저 화면
    ㄴhtml > 100%지정하면 화면을 꽉 채워서 사용하겠다. */
}

body{
  height:100%; /* 화면을 꽉 채워서 사용하겠다. */
  /* 
  html태그 내의 모든 요소들은 각각 기본 스타일이 있다.
  > body 또한 기본 마진이 있다. > margin을 없애기 위해 지정해주자.
  */
  margin:0; /* 0px은 0만 적어도 똑같다. */
}

.container{ /*
  모든 요소를 포함하는 영역에도 스타일 지정
  */
  height:100%;
  /*
  모든 요소를 포함하는 영역에 100% 지정을하지 않으면, 콘텐츠 영역이 화면의 일부다. 
  화면을 가득 채워서 콘텐츠를 구현하고 페이지를 만들기 위해 해당 클래스도 100%로 지정한다.*/
  background-color:rgba(250, 215, 234, 0.475);
  /* 메인 바탕색 (채팅창 색상) 지정 */
}

/* 스크린 크기 조정 (main 영역) */

.chat_screen{
  /*
  메인 영역의 크기를 계산해서 넣어주자! 
  메인 영역 : 채팅 입력창 크기를 제외한 나머지 영역 > calc라는 계산 함수를 사용하자 !

  calc : CSS 수치끼리 계산한 결과 값을 사용할 수 있다.
  */
  height:calc(100% - 120px); /* 가운데 - 양옆 공백 줘야함 */
  /* 100%(전체화면) - 120px(채팅 입력창 영역의 크기) */
}



/* 유저 정보가 표시되는 부분 */

.user{
  background-color:white;
  padding:16px; 
  /* 영역 안쪽 요소들 (친구, 프로필, 친구 수)이 여백을 갖도록 padding 설정
  > margin으로 여백을 주면 background-color 기본 값이 padding이라 바깥여백 색상이 비어있게된다.
  > clip으로 색상 영역 지정 시, margin 영역까지는 지정 불가 */
  height:80px;
}

.user_column{
  float:left; /* 
  div는 블록레벨 > 프로필, 닉네임, 친구 수가 붙어서 배치가 안됨
  > 프로필 옆에 닉네임과 친구 수를 옆에 붙게 하려고 문서의 흐름을 무시하는 float 지정 */
}

.user_pic{
  width:50px;
  height:50px;
  margin-right:10px;
  border-radius:10px;
  background-color: rgba(250, 215, 234, 0.475);
}

.user_nick, .user_count{
  margin:5px;
}

.user_count{
  font-size:12px;
  color:gray;
}

/* 채팅 입력 창 */

.chat_form{
  height:120px;
  background-color:white;
}

.chat_form_field{
  height:120px;
}

.chat_form_msg{
  width: calc(100% - 120px);   /* 100%(전체)-120px(버튼크기)  */
 height:120px;

  /*border:none; */ /* textarea 기본 테두리값 제거함 */
 font-size:24px; /*textarea에 입력하는 폰트 크기 지정 */
 padding:10px; /*입력 글자와 텍스트 박스 사이에 여백 지정 */

 resize:none; 
 /* textarea의 오른쪽 하단 빗금으로 입력창 크기를 조절할 수 있는 resizing 특성이 있다.
 > 이 특성을 [ resize:none; ] 을 통해 불가능하게 만들 수 있다 > 하단 빗금이 사라짐*/

 float:left;

 
}


.chat_form_bt{
  width:120px;
 height:120px;

  border-radius:10px;
  background-color:white;
  font-size:18px;

  /* 여기까지 코딩하면 텍스트 박스 밑에 전송 버튼이 위치함
  > 텍스트 박스와 버튼이 크기를 나눠갖는데, 랜더링 과정에서 여러가지 요인으로 발생하는 미세한 오차(여백)때문에 
    전송 버튼이 텍스트 박스 밑으로 떨어지는 현상이 발생 */

  float:right;
}

.chat_form_msg:focus{
  /* 텍스트박스에 포커즈가 되어있을 때(입력하려고 깜빡깜빡 거릴 떄)
  박스에 윤곽선(아웃라인)이 생김 
  > 아웃라인 제거 */
  outline:none;
}

.chat_form_bt:active{
  background-color:rgb(221, 218, 218);
}





