/*2024.04.16*/

.header{
  position:fixed;
  top:0; /*스크롤해도 상단 고정*/
  width:100%;
  z-index: 999; /*다른 요소랑 겹쳐도 무조건 최상위로 표기*/
  background-color:white;
  color:black;
}

.header-content{
  width:100% ;
  max-width : 75rem;
  /* 최대 width를 지정 > 75rem 이하로는 width 100%로 브라우저 창의 크기에 따라 커지지만, 75rem 이상부터는 box width(content+padding+border 영역)이 커지지 않는다.*/
  height:4rem;
  padding:0.75rem 1rem;
  margin:auto;

  justify-content:space-between;
}

.header-content-logo{
  color:rgb(25, 153, 81);
  font-size:2rem;
  font-weight:bolder;

  height:1rem;
  margin-right:40px;
  line-height:40px;
}

.header-content-nav{
  align-items:center;
  padding:0 2.5rem 0 0;
  flex-grow:1;
}

.header-content-nav ul{
  padding:0;
  margin:0;
  list-style-type: none;
}

.header-content-nav ul li{
  display:inline-block;
  margin-right: 30px;
  font-weight:900;
  font-size:1.1rem;
}

.active{
  color:rgb(25, 153, 81);
}

.header-content-input{
  justify-content:center;
  align-items:center;
}

.search{
  width:18rem;
  height:2.5rem;
  padding: 0.5625rem 0.75rem;
  background-color:rgb(243, 243, 243);
  border:none;
  border-radius:0.37rem;
  font-size:1rem;
  outline:none;
}

.chat{
  line-height:1.3; /*숫자만 지정 시, 글자 크기의 1.3배로 지정됨*/
  font-size:1rem;

  /* padding:0.5rem 1rem; 
    ㄴ 강의에서는 padding으로 버튼 크기 확대했음*/

  width:6rem;
  height:2.5rem;
  background-color:white;
  border:0.5px solid rgb(221, 221, 221);
  border-radius:0.25rem;
  font-weight:600;
}

.icon input{
  margin-right:1rem;
  border:none;
  padding:0;
  font-size:1.5rem;
  background-color:transparent;
  display:none;
}

@media screen and (max-width:1000px){
  /*돋보기 + 채팅하기 */
  .glass input{display:block;}
  .search{display:none;}
}
 /* glass로 지정 시, 쿼리 조건에서 glass가 보이지 않는 이유는 상단 css에서 display:none;을 
 span이 아닌 input에 지정했기 때문이다.
 glass는 span의 class임 */

@media screen and (max-width:770px){
  /*돋보기 + 메뉴 + nav 사라짐*/
  .chat, .header-content-nav{
    display:none;
  }

  .menu input{
    display:block;
  }

}